<h1>Admin</h1>
<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= Product.count %></span>
      <%= link_to "Products", products_path %>
    </li>
    <li class="list-group-item">
      <span class="badge"><%= User.count %></span>
      <%= link_to "Users", "#" %> <!-- TODO -->
    </li>
  </ul>
</div>