<h1>Bug List</h1>
<div class="col-md-12">
  <table class="table table-responsive table-hover table-striped">
    <thead>
      <tr>
        <th>Bug ID</th>
        <th>Submitted</th>
        <th>Severity</th>
        <th>Title</th>
        <th>Author</th>
        <th>Assigned To</th>
        <th>Found In</th>
        <th>Milestone</th>
        <th>Time Remaining</th>
      </tr>
    </thead>

    <tbody>
      <% (1..10).each do |i| %>
        <tr>
          <td><%= i %></td>
          <td>2016 Feb 29 12:34AM</td>
          <td>Critical</td>
          <td>App crashes on launch</td>
          <td>Hans Hinrichsen</td>
          <td>Hans Hinrichsen</td>
          <td>1.0.0</td>
          <td>v1</td>
          <td>30h</td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>