<div class="container">
  <h1>Railszilla</h1>   
  <div id="userLogin">
    <%= render partial: "users/login" %>
  </div>
  <a id="getSignup" href="#">Sign Up</a>
  or
  <a id="getLogin" href="#">Log In instead</a>
</div>
