<div class="container">
  <h1>Railszilla</h1>   
  <a id="getLogin">Log In</a>
  <a id="getSignup">Sign Up</a>
  <div id="userLogin">
    <%= render partial: "users/login" %>
    <%= render partial: "users/register" %>
  </div>
</div>
