<h1>Railszilla</h1>

<p>
  Hi <%= @user.name %>, <br/>
  <br/>
  Welcome to Railszilla. Please confirm your email address by clicking on the activation link below:
</p>
<p>
  <%= link_to "Activate Now", activation_url(@user.activation_token, email: @user.email) %>
</p> 

<p>
  <br/>
  Happy bug hunting!
</p>
