<h1>Railszilla</h1>

<p>
  Hello <%= @user.name %>, <br/>
  <br/>
  A password reset request was received for your account. To reset your password, please click the link below. 
</p>
<p>
  <a href="http://rails.hansdev.com">Demo reset link</a>
</p> 

<p>
  <br/>
  Happy bug hunting!
</p>
