<h1>Products</h1>
<a href="#">Add a new product</a>
<div class="col-md-12">
  <ul class="list-group">
    <% @products.each do |p| %>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          <%=p.name%>
        </h4>
          <a href="#">View Bugs</a>
          <a href="#">Rename</a>
          <a href="#">Remove</a>
        <p class="list-group-item-text">
          <%=p.components.count%> Components
          |
          <%=p.versions.count%> Versions
          |
          <%=p.milestones.count%> Milestones
        </p>
      </li>
    <% end %>
  </ul>
</div>